<div *ngIf="sucursal" id="mainComponent">
  <h2> Sucursal {{sucursal.nombre}}</h2>
  <hr>
  <p> <strong> Direccion: </strong> {{sucursal.direccion.direccion}}, {{sucursal.direccion.colonia}} </p>
  <p> <strong> Tel: </strong> {{sucursal.telefono}} </p>
  <div class="flexContainerRow">
      <button mat-button style="width: 100px" (click)='editSucursalDialog()'> EDIT </button>
      <button mat-button style="width: 100px" (click)='deleteSucursal()'> DELETE </button>
  </div>
  <hr>
  <div>
    <h2> Pizzas disponibles en la sucursal</h2>
    <hr>
    <div class="col-sm-12 col-md-12 col-lg-12 flexContainer">
      <div *ngFor="let pizza of sucursal.pizzas">
        <app-pizzabase *ngIf="sucursal.pizzas" [pizzaData]='pizza' [isCard]='true' 
        [delete_enabled]='true' (pizzaDeleted)='deletePizzaFromSucursal(pizza)'
        class="cards-css d-flex justify-content-center"></app-pizzabase>
      </div>
       <!-- Mat-card to add new pizzas to sucursal -->
      <mat-card class="cards-css d-flex justify-content-center">
        <button mat-button style="width: 100%; height: 100%" (click)="selectPizza = true; getPizzas();" *ngIf="!selectPizza"> ADD NEW </button>
        <button mat-button style="width: 100%; height: 100%" (click)="selectPizza = false" *ngIf="selectPizza"> CANCEL </button>
      </mat-card>
    </div>
    <mat-expansion-panel *ngIf="selectPizza" [expanded]="PizzasNotSucursal.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pizzas disponibles
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flexContainer">
        <div *ngFor="let pizza of PizzasNotSucursal" class="cards-css d-flex justify-content-center">
          <app-pizzacardselector [pizzaData]='pizza' (AddPizza)='AddPizzatoSucursal(pizza)'></app-pizzacardselector>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
<div *ngIf="!sucursal">
  <h1 class="display-4" style="min-height: 720px"> Cargando... </h1>
  <app-loading></app-loading>
</div>