<div id="mainComponent">
  <h2> Pizzas disponibles </h2>
  <hr>
  <div id="grindPizzas" class="col-sm-12 col-md-12 col-lg-12">
    <div *ngFor="let pizza of Pizzas; trackBy: trackItem" class="cards-css d-flex justify-content-center">
        <app-pizzabase [pizzaData]='pizza' [isCard]='true' [delete_enabled]='true' [edit_enabled]='true' 
        (pizzaDeleted)='DeletePizza(pizza)' (pizzaUpdated)='getPizzas()'
        *ngIf="Pizzas && statusPizza == 1"></app-pizzabase>
    </div>
    <!-- Formulario dentro de una card -->
    <mat-card class="cards-css d-flex justify-content-center" *ngIf="!addNew">
        <button mat-button style="width: 100%; height: 100%" (click)="addNew = true">ADD NEW</button>
    </mat-card>
    <app-pizzaform [isNew]='true' (close)='resetForm()' (update)='getPizzas()' *ngIf="addNew" style="margin: 15px"> </app-pizzaform>
  </div>
  <app-loading *ngIf="!Pizzas && statusPizza == 0"></app-loading>
</div>