<div id="mainComponent">
  <h2> Pizzas disponibles </h2>
  <hr>
  <div *ngIf="Pizzas" id="grindPizzas" class="col-sm-12 col-md-12 col-lg-12">
    <div *ngFor="let pizza of Pizzas" class="cards-css d-flex justify-content-center">
        <app-pizzabase [pizzaData]='pizza' [isCard]='true'></app-pizzabase>
    </div>
    <!-- Formulario dentro de una card -->
    <mat-card class="cards-css d-flex justify-content-center">
        <button *ngIf="!addNew" mat-button style="width: 100%; height: 100%" (click)="addNew = true">ADD NEW</button>
        <form id="FormPizza" *ngIf="addNew" [formGroup]="newPizzaForm">
            <h5 style="text-align: center"> Agregar pizza </h5>
            <mat-form-field >
                <input matInput type="text" placeholder="Nombre" formControlName="nombre">
                <mat-error *ngIf="Form.costo.errors?.required">
                    Nombre is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Costo" type="number" formControlName="costo">
                <span matPrefix>$&nbsp;</span>
                <mat-error *ngIf="Form.costo.errors?.required">
                    Costo is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="Form.costo.value <= 0 && !Form.costo.errors?.required">
                    Costo must be more that 0
                </mat-error>
            </mat-form-field>
            <button mat-button style="width: 100%; height: auto;" (click)="openDialog()">INGREDIENTES</button>
            <div>
                <input  style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                <button mat-button style="width: 100%; height: auto; "(click)="fileInput.click()"> 
                    <span *ngIf="selectedFile"> UPLOADED </span> 
                    <span *ngIf="!selectedFile"> SELECT IMAGE </span> 
                </button>
            </div>
            <div id="ActionButton">
                <button mat-button style="width: 50%; height: auto;" (click)="AddPizza()" 
                [disabled]="formWait || newPizzaForm.invalid || !selectedFile">AGREGAR</button>
                <button mat-button style="width: 50%; height: auto;" (click)="clearFile()">CANCEL</button>
            </div>
        </form>
    </mat-card>
  </div>
  <app-loading *ngIf="!Pizzas"></app-loading>
</div>