<div id="mainComponent">
  <div *ngIf="pizza" class="col-sm-12 col-md-12 col-lg-12">
      <app-pizzabase [pizzaData]='pizza' [isCard]='false'></app-pizzabase>
  </div>
  <div style="margin-top:20px" class="col-sm-12 col-md-12 col-lg-12">
    <br>
    <hr>
    <h3> Encuentrala en las siguientes sucursales </h3>
    <hr>
    <div id="grindSucursales" *ngIf="sucursales" class="col-sm-12 col-md-12 col-lg-12">
      <div *ngFor="let sucursal of sucursales" class="cards-css d-flex justify-content-center">
        <app-sucursalcard [sucursal]='sucursal'></app-sucursalcard>
      </div>
    </div>
    <div  *ngIf="!sucursales" >
      <h6> No se encuentra disponible </h6>
    </div>
  </div>
  <app-loading *ngIf="!pizza"></app-loading>
</div>