<!--
<footer class="container-fluid">
  <hr>
  <div class="row justify-content-center footerOptions">
    <div class="col col-lg-4 align-self-start blockOptions">
      <ul class="blockOptions">
        <p> Facebook </p>
        <p> Correo: bobinaTesla@gmail.com </p>
        <p> Telefono: 3312803950 </p>
      </ul>
    </div>
    <div class="col col-lg-4 justify-content-center blockOptions">
      <p style="text-align: center" class="blockOptions"> Quantum Robotics </p>
    </div>
    <div class="col col-lg-4 align-self-end">
      <p style="text-align: left" class="blockOptions"> Felis eu cras curae ante metus interdum 
        vitae tristique curabitur rhoncus egestas, magna fames hendrerit 
        sodales fringilla cubilia ad habitasse phasellus. Velit per ultric
        es vel maecenas ultricies et, ridiculus placerat justo laoreet apt
        ent sollicitudin </p>
    </div>
  </div>
</footer>
-->

<footer class="mat-elevation-z8" style="display: none;">
  <h3 class="headerFooter">
    Pizzerias Getinsoft
  </h3>
  <div id="bottomFooter">
    <h3 class="headerFooter">
      FOOTER 
    </h3>
  </div>
</footer>