<div class="container" *ngIf="!isCard">        
  <img src={{pizzaData.image}} class="bgImage rounded d-block img-fluid"> 
  <div id="containerData" class="centered">
    <h4> Pizza {{pizzaData.nombre}}</h4>
    <p> Ingredientes: 
      <span *ngFor="let ingrediente of pizzaData.ingredientes"> 
        {{ingrediente.nombre}} 
      </span>
    </p>
    <p> Costo:
      <strong> 
        {{pizzaData.costo | currency:'$':'symbol-narrow':'2.2-2'}}
      </strong> 
    </p>
  </div>
</div>

<div *ngIf="isCard" class="cards-css">
  <mat-card>
    <img *ngIf="pizzaData.image" class="cardImg rounded d-block img-fluid " mat-card-image src={{pizzaData.image}} alt="Pizza photo">
    <img *ngIf="!pizzaData.image" mat-card-image src="assets/thumbnail220x150px.png" alt="Pizza photo">
    <mat-card-content style="margin-top: 5px">
      <h4> {{pizzaData.nombre}} </h4>
      <p> Ingredientes: <span class="text-muted" *ngFor="let ingrediente of pizzaData.ingredientes"> {{ingrediente.nombre}}, </span> </p>
      <p> Costo: <strong> ${{pizzaData.costo}} Mxm </strong> </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/Pizzas', pizzaData.id]">SEE MORE</button>
      <button mat-button [routerLink]="['/Pizzas', pizzaData.id, 'delete']" 
      *ngIf="delete_enabled">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>