.cardImg{
    width: 250px !important;
    height: 150px;
    margin: 0px;
}

#FormPizza{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100% !important;
    height: 100%;
    margin: 0px;
}

.imageInput {
    width: 100%;
    height: auto;
}

#ActionButton{
    display: flex;
    flex-flow: row;
}

.cards-css{
    width: 250px !important;
    height: 350px !important;
}