<div class="container-fluid sticky-top mat-elevation-z2" id="HeaderBlock">
  <div class="row">
    <button mat-icon-button color="primary" *ngIf="screenWidth < 640" id="sidebar" (click)="snav.toggle()"><img src="assets/icons/Menu_White.png"></button>
    <span id="logoHeader" [routerLink]="['Home']" class="offset-md-1 col-md-5 col-sm-6 col-xs-3">
      <img src="assets/images/LogoPizzaWhite.png" alt="" [routerLink]="['Home']"/>
      <h1 [routerLink]="['Home']"> Pizzerias Getinsoft </h1>
    </span>
    <div *ngIf="screenWidth >= 640" id="botonesMenuTop">
      <button mat-button [color]="'success'" routerLink="Home"><h5>Home</h5></button>
      <button mat-button [color]="'success'" routerLink="ListSucur"><h5>Sucursales</h5> </button>
      <button mat-button [color]="'success'" routerLink="Pizzas"><h5>Pizzas</h5> </button>
    </div>
  </div>
</div>
<mat-sidenav-container id="sidebarNav" fullscreen [style.marginTop.px]="0"  [hasBackdrop]="true">
  <mat-sidenav #snav [mode]="over" [fixedInViewport]="true" fixedTopGap="60">
    <mat-nav-list>
      <a mat-list-item routerLink="Home">Home</a>
      <a mat-list-item routerLink="ListSucur">Sucursales </a>
      <a mat-list-item routerLink="Pizzas">Pizzas </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div style="height: 100%"></div>
    <app-footer-page></app-footer-page>
  </mat-sidenav-content>
</mat-sidenav-container>